name: Test-Modules

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container: archlinux:base-devel
    steps:
      - name: Install Build Dependencies
        run: |
          pacman --noconfirm -Syu
          pacman --noconfirm -S cmake ninja git curl zip unzip tar verilator

      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure
        run: cmake . -G Ninja -DNYU_BUILD_TESTS=TRUE

      - name: Build
        run: cmake --build . --config Release

      - name: Test & Generate Coverage
        run: |
          ctest -C Release --output-on-failure
          sed -i -e '/\/share\//d' -e '/\/dv\//d' dv/*.dat
          verilator_coverage -write-info coverage.txt dv/*.dat

      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.txt
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
